{{> layout}}
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<section class="missing-info">
    <img src="/img/404.png" width=200px alt="404">
    <p>Page not found</p>
    <p>Please check the URL or go back to the <a href="/">homepage</a>.</p>
</section>

<!-- Footer Section -->
<footer>
    <div class="container">
        <p>&copy; 2024 The Scottish Pantry Network. All rights reserved.</p>
        <div class="social">
            <!-- Add social media icons/links here if applicable -->
        </div>
    </div>
</footer>
