{{> layout}}
<link rel="stylesheet" type="text/css" href="/css/styles.css">
<div class="main-content">
    <section>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <input type="submit" value="Login">
        </form>
    </section>
</div>
<!-- Footer Section -->
<footer>
    <div class="container">
        <p>&copy; 2024 The Scottish Pantry Network. All rights reserved.</p>
        <div class="social">
            <!-- Add social media icons/links here if applicable -->
        </div>
    </div>
</footer>